.biotech__testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background: var(--color-blue);
}

.biotech__testimonials h2{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    color: #FFFFFF;
}

.biotech__testimonials h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 50px;
    line-height: 65px;
    color: var(--color-header);
    flex: 1.5;
}

@media screen and (max-width:550px){
    .biotech__testimonials h2{
        font-weight: 650;
        font-size: 35px;
        line-height: 44px;
        color: #FFFFFF;
    }
    
    .biotech__testimonials h1{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 40px;
        line-height: 54px;
        color: var(--color-header);
        flex: 1.5;
    }
}